<section id="detailsPage">
    <div id="detailsInfo">
        <h1>Name: Laptop HP EliteBook 820 G4</h1>
        <div class="info"><img src="../../assets/img/ncm1.png"></div>

        <div class="info">
            <h3>Brand: Chevrolet</h3>
            <h3>Model: 2020</h3>
            <h2>Price: $300 000</h2>
        </div>

        <!--If there is user logged in-->
        <div class="buttons">

            <a class="buy-btn" (click)="addtoTestDrive('asdasd')">Add to Test Drive Catalog</a>
            <a class="edit-btn" (click)="navigateToCar('')" >Edit</a>
            <a class="delete-btn" (click)="deleteCar('asdasd')">Delete</a>

        </div>
    </div>
</section>