<section id="registerPage">
  <form
  id="registerForm"
  #registerForm="ngForm"
  (ngSubmit)="formSubmitHandler(registerForm)"
  >

  <h2 >Register Form</h2>

    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Email"
        ngModel
        required
        email
        #emailInput="ngModel"
        autocomplete="email"
      />
    </div>
    <div *ngIf="emailInput.touched">
      <div *ngIf="emailInput.errors?.['required']" class="error-message">
        Email is required!
      </div>
      <div *ngIf="emailInput.errors?.['email']" class="error-message">
        Email is invalid!
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        ngModel
        required
        [appMinCount]="4"
        #passwordInput="ngModel"
        autocomplete="new-password"
      />
    </div>
    <div *ngIf="passwordInput.touched">
      <div *ngIf="passwordInput.errors?.['required']" class="error-message">
        Password is required!
      </div>
      <div *ngIf="passwordInput.errors?.['appMinCount']" class="error-message">
        Password is shoter than {{passwordInput.errors?.['appMinCount']}}
      </div>
    </div>

    <button type="submit" class="register">Register</button>
  </form>
</section>
