<section id="viewCatalog" class="background-img">
    <button type="submit" class="show-cars">Show only available cars for Test Drive</button>
    <!--If there are one or more cars-->
    <div class="added-cars">
        
        <div class="added-cars-in-market">
            <img src="../../assets/img/ncm1.png" class="picture-added-cars">
            <h3>Chevrolet Camaro</h3> <!-- Merge Brand and model -->
            <span>Price per day: $153</span>
        </div>
        
    </div>

    <!--If there are no cars in catalog yet-->
    <!-- <div class="guest">
        There are no cars found...
    </div> -->
</section>