<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    <div class="added-electronics">
        
        <div class="added-electronics-in-market">
            <img src="../../assets/img/ncm1.png" class="picture-added-electronics">
            <h3>Laptop HP EliteBook 820 G4</h3>
            <span>Price: $153</span>
        </div>
        
    </div>

    <!--If there are no electronics in catalog yet-->
    <!-- <div class="guest">
        There are no electronics found...
    </div> -->
</section>