<section id="editPage">
    <form id='editForm' [formGroup]="carEditForm" (ngSubmit)="submitForm()"  *ngIf="car$ | async as car"> 

        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" value="{{car.brand}}" formControlName="brand">

        <label for="model">Model:</label>
        <input type="text" id="model" name="model" value="{{car.model}}" formControlName="model">

        <label for="imageUrl">Image:</label>
        <input type="text" id="imageUrl" name="imageUrl" value="{{car.imageUrl}}" formControlName="imageUrl">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{car.price}}" formControlName="price">

        <button type="submit" class="edit-btn">Edit Car</button>
        <button type="submit" class="back-btn" routerLink="/car-item-details/{{car._id}}">Back</button>

    </form>
</section>